body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex; /* Usa flexbox */
    width: 100%; /* Ancho del contenedor */
    height: 100vh; /* Altura del contenedor (100% del viewport height) */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}



#login{
    display: flex; /* Usa flexbox */
    justify-content: center;
    align-items: center; 
    background-color: darkgrey;
    width: 400px;
    height: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aqua;
}


.form-group input:hover {
    background-color: cadetblue;
}
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
