.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: black;
}

.bloque1{
    background-color: aqua;
    width: 250px;
    min-height: 75px;

}

.bloque2{
    background-color:yellow;
    width: 250px;
    min-height: 100px;

}

.bloque3{
    background-color: red;
    width: 250px;
    min-height: 120px;

}


